<div class="ui card">
  <div class="image">
    <img src="{{img}}">
  </div>
  <div class="content">
    <p class="center aligned header">{{title}}</p>
    <div class="center aligned meta">
        <a href="/bookmarklist/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
      <a href="/dashboard/deletepicture?img={{img}}">
        <i class="red icon trash"></i>
      </a>
    </div>
  </div>
</div>
