{{> welcomemenu }}
<section class="ui center aligned middle aligned segment">
  <h3>
    The purpose of this project is to program a web application using Glitch. 
    <br>There will be three bookmarks which when clicked on will bring the user 
    <br>to a new page that will display links to different websites.   
  <h3>
    
  </h3>
  <p>
    <img class="ui massive image" src="https://cdn.glitch.com/217d8dbf-058f-411d-84c4-aeb0ceab381a%2Fwelcome.jpg?1520510306896" alt="Welcome"><br>
  </p>
</section>
<footer class="ui center aligned segment">
  <p class="wit website">
    <a href="https://www.wit.ie/"target="_blank"> Waterford Institute of Technology &trade; </a>
  </p>
  <footer class="ui center aligned segment">
  <a href="http://www.facebook.com/"> <i class="large facebook icon"></i> </a>
  <a href="href='http://twitter.com/"> <i class="large twitter icon"></i> </a>
  <a href="href='http://www.linkedin.com/">  <i class="large linkedin icon"></i> </a>
  </footer>
</footer>
